@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  background-color: transparent;
}

.Typewriter__cursor {
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.Toastify__toast-container--top-right {
  top: 100px; /* Adjust this value to move the container lower */
  right: 20px; /* Adjust this value if needed */
}

.message-content {
  font-size: 14px;
  line-height: 2;
  width: 100%;
}

/* Optional: Style Markdown content */
.message-content h1,
.message-content h2,
.message-content h3 {
  font-weight: bold;
  margin: 1em 0 0.5em;
}

.message-content hr {
  border: none;
  border-top: 1px solid black;
  margin: 0.5em 0;
}

.message-content p {
  margin: 0.5em 0;
}

.message-content ul,
.message-content ol {
  margin: 0.5em 0;
  padding-left: 1.5em;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.message-content ol {
  list-style-type: decimal;
}

.message-content ul {
  list-style-type: disc;
}

.message-content li {
  padding: auto;
  margin: 0;
  text-align: left;
  height: auto;
  line-height: 1.5;
}

.message-content li:last-child {
  margin-bottom: 0;
}

.message-content pre {
  border-radius: 5px;
  overflow-x: auto;

  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  display: block;
}

.message-content code {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
  border-radius: 3px;
  max-width: 100%;
  box-sizing: border-box;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #f92672;
  font-weight: bold;
}

.hljs-literal,
.hljs-number,
.hljs-tag .hljs-attr {
  color: #ae81ff;
}

.hljs-string,
.hljs-doctag {
  color: #e6db74;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #a6e22e;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #66d9ef;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #f8f8f2;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #fd971f;
}

.hljs-symbol,
.hljs-bullet {
  color: #f8f8f2;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #66d9ef;
}

.hljs-meta {
  color: #f8f8f2;
  font-weight: bold;
}

.hljs-deletion {
  background: #f92672;
}

.hljs-addition {
  background: #a6e22e;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid orange; /* Adjust the color as needed */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation:
    typewriter 4s steps(40, end),
    blink 0.75s step-end infinite;
}
